<div style='width:100%; height:auto; position:relative; background:#ccc;'>

<%= link_to 'Back', authors_path, :class => 'back-to-menu' %>

<%= link_to("Logout", {:controller => 'access', :action => 'logout'}, :class => 'logout')%>

<div class="top-linebar">Editing author</div>

<div style="clear:both;"></div>
</div>


<div style="clear:both;"></div>

<br/><br/>
<%= render 'form' %>

