@font-face {
	font-family: 'Kalinga';
src:url('/assets/simply_images/fonts/kalinga.ttf');
src:url('/assets/simply_images/fonts/Kalinga.otf');
}
@font-face {
	font-family: 'century-gothic';
src: url('/assets/simply_images/fonts/gothic.ttf');
src: url('/assets/simply_images/fonts/gothic.otf');
}	
.accordion-header {
	font-size: 16px;
	background:rgba(255, 255, 255, 0.5);
	margin: 5px 0 0 0;
	padding: 5px 20px;
	cursor: pointer;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	font-size:16px;
	text-shadow:#333 1px 1px 1px;
	text-shadow: 1px 1px #CCC, 2px 2px #CCC;
}

.active-header {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: url(/assets/Gknowledge/active-header.gif) #CCC;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.active-header:hover {
	background: url(/assets/Gknowledge/active-header.gif) #CCC;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: url(/assets/Gknowledge/inactive-header.gif);
	background-color:rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: url(/assets/Gknowledge/inactive-header.gif) #E1E1E1;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accordion-content {
	display: none;
	padding: 20px;
	background: #ffffff;
	border-top: 0;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
