  <%= render(:partial => 'layouts/aside') %>
<div class="main-wrapper-inner">
<div  class="great-speeches-banner" style=" background:url(/assets/aboutus-banner-bg.jpg) left bottom no-repeat;">
<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="275">
				<param name="movie" value="/assets/aboutus-banner.swf">
				<param name="quality" value="high">
				<param name="wmode" value="opaque">
				<param name="wmode" value="transparent">
				<param name="swfversion" value="8.0.35.0">
				<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
				<param name="expressinstall" value="/uploads/script/general/expressInstall.swf">
				<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/assets/aboutus-banner.swf" width="100%" height="275">
					  <!--<![endif]-->
					  <param name="quality" value="high">
					  <param name="wmode" value="opaque">
					  <param name="wmode" value="transparent">
					  <param name="swfversion" value="8.0.35.0">
					  <param name="expressinstall" value="/uploads/script/general/expressInstall.swf">
					  <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
					  <div>
						    <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
						    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
					</div>
					  <!--[if !IE]>-->
				</object>
			<!--<![endif]-->
			</object>       
</div>
</div>
	<div id="Wrapper-about">
    <div id="contetWrap-about">
        <div id="about-us">                   
                        <h2>About Us</h2>
                        <div id="about-entry">
                            <div style="width: 1000px; height: auto; float: left;">
<p>Simplyknowledge.com, an ocean of knowledge and a one of its kind portal is owned by Aatman Innovations Pvt. Ltd. A company that has purely been established with an aim to spread the truly required, most essential knowledge across each genre and class of the world, through a variety of products like Books, Portals (simplyknowledge.com and mycafek.com), 2D/3D Animations, Software Development, TV Software/Serials, Web Designing, Audios and Videos, production of CD-ROMs, VCDs, DVDs, Frames and much more.</p>

<p>As they say, nothing is permanent but change; nevertheless in our fast-paced world every change demands a hefty price. With the emergence of the internet era, any information that is made available to us at our fingertips has been extensively misquoted, which has virtually put the authenticity of data at bay. Hence, our primary concern is to preserve the most essential knowledge treasured for centuries, which is now getting distorted and losing its essence.</p>

<p>Through simplyknowledge.com, we have endeavored to research such precious knowledge treasured in the world and bring it forth in an interesting format to strike a chord with our new age readers. To turn such a colossal dream into reality, we have a team of about 200 writers, researchers, translators, artists, animators, programmers, web designers and editors who are relentlessly working to provide you with the vital knowledge and make human life happy, blissful and successful.<br />
So come, let’s be the catalyst in transforming the world. </p>

<p>For further details, kindly log on to <a href="http://aatmaninnovations.com/" target="_blank" >aatmaninnovations.com </a></p>
									</div>
								</div>
		</div>
	</div>
	<div style="clear:both;"></div>
	</div>

