  <%= render(:partial => 'layouts/aside') %>
<div class="main-wrapper-inner">
<div  class="great-speeches-banner" style=" background:url(/assets/aboutus-banner-bg.jpg) left bottom no-repeat;">
<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="275">
				<param name="movie" value="/assets/aboutus-banner.swf">
				<param name="quality" value="high">
				<param name="wmode" value="opaque">
				<param name="wmode" value="transparent">
				<param name="swfversion" value="8.0.35.0">
				<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
				<param name="expressinstall" value="/uploads/script/general/expressInstall.swf">
				<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/assets/aboutus-banner.swf" width="100%" height="275">
					  <!--<![endif]-->
					  <param name="quality" value="high">
					  <param name="wmode" value="opaque">
					  <param name="wmode" value="transparent">
					  <param name="swfversion" value="8.0.35.0">
					  <param name="expressinstall" value="/uploads/script/general/expressInstall.swf">
					  <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
					  <div>
						    <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
						    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
					</div>
					  <!--[if !IE]>-->
				</object>
			<!--<![endif]-->
			</object>       
</div>
</div>
	<div id="Wrapper-about">
    <div id="contetWrap-about">
        <div id="about-us">
                                                
                    <h2 style="font-size:25px;">Disclaimer</h2>
                        <div id="about-entry" style="margin-top:30px;">
                            <h3>Simply Knowledge.com Web Site Agreement</h3>
<p style="margin-top:5px;">The www.simplyknowledge.com Web Site (the &#8220;Site&#8221;) is an online information service provided by Aatman Innovations Pvt. Ltd. (&#8220;www.aatmaninnovations.com &#8220;), subject to your compliance with the terms and conditions set forth below. PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE SITE. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE SITE. www.simplyknowledge.com MAY MODIFY THIS AGREEMENT AT ANY TIME, AND SUCH MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED AGREEMENT ON THE SITE. YOU AGREE TO REVIEW THE AGREEMENT PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS AND YOUR CONTINUED ACCESS OR USE OF THE SITE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED AGREEMENT.</p>
<p>&nbsp;</p>
<h3>1. Copyright, Licenses and Idea Submissions.</h3>
<p style="margin-top:5px;">The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are www.simplyknowledge.com, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. You agree to grant to www.simplyknowledge.com a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to www.aatmaninnovations.com by all means and in any media now known or hereafter developed. You also grant to Aatman Innovations Pvt. Ltd the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against www.simplyknowledge.com for any alleged or actual infringement or misappropriation of any proprietary right in your communications to Aatman Innovations Pvt. Ltd.</p>
<p>&nbsp;</p>
<h3>TRADEMARKS.</h3>
<p style="margin-top:5px;">Publications, products, content or services referenced herein or on the Site are the exclusive trademarks or service marks of www.simplyknowledge.com. Other product and company names mentioned in the Site may be the trademarks of their respective owners.</p>
<p>&nbsp;</p>
<h3>2. Use of the Site.</h3>
<p style="margin-top:5px;">You understand that, except for information, products or services clearly identified as being supplied by www.simplyknowledge.com does not operate, control or endorse any information, products or services on the Internet in any way. Except for www.aatmaninnovations.com- identified information, products or services, all information, products and services offered through the Site or on the Internet generally are offered by third parties that are not affiliated with www.aatmaninnovations.com. You also understand that www.simplyknowledge.com cannot and does not guarantee or warrant that files available for downloading through the Site will be free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to the Site for the reconstruction of any lost data.</p>
<p>YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND THE INTERNET. Aatman Innovations Pvt. Ltd PROVIDES THE SITE AND RELATED INFORMATION &#8220;AS IS&#8221; AND DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE, ANY MERCHANDISE INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY, AND Aatman Innovations Pvt. Ltd SHALL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR INDIRECTLY FROM ANY SUCH TRANSACTION. IT IS SOLELY YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ALL OPINIONS, ADVICE, SERVICES, MERCHANDISE AND OTHER INFORMATION PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY. Aatman Innovations Pvt. Ltd DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SERVICE WILL BE CORRECTED.</p>

<p>YOU UNDERSTAND FURTHER THAT THE PURE NATURE OF THE INTERNET CONTAINS UNEDITED MATERIALS SOME OF WHICH ARE SEXUALLY EXPLICIT OR MAY BE OFFENSIVE TO YOU. YOUR ACCESS TO SUCH MATERIALS IS AT YOUR RISK. Aatman Innovations Pvt. Ltd HAS NO CONTROL OVER AND ACCEPTS NO RESPONSIBILITY WHATSOEVER FOR SUCH MATERIALS.</p>

<p>&nbsp;</p>
<h3>LIMITATION OF LIABILITY</h3>
<p style="margin-top:5px;">IN NO EVENT WILL Aatman Innovations Pvt. Ltd BE LIABLE FOR (I) ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR INFORMATION, AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE THE SERVICE, OR ANY INFORMATION, OR TRANSACTIONS PROVIDED ON THE SERVICE, OR DOWNLOADED FROM THE SERVICE, OR ANY DELAY OF SUCH INFORMATION OR SERVICE. EVEN IF Aatman Innovations Pvt. Ltd OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (II) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SERVICE AND/OR MATERIALS OR INFORMATION DOWNLOADED THROUGH THE SERVICE. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, Aatman Innovations Pvt. Ltd LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>
<p>Aatman Innovations Pvt. Ltd makes no representations whatsoever about any other web site which you may access through this one or which may link to this Site. When you access a non Aatman Innovations Pvt. Ltd web site, please understand that it is independent from Aatman Innovations Pvt. Ltd, and that www.simplyknowledge.com has no control over the content on that web site. In addition, a link to a www.simplyknowledge.com web site does not mean that www.simplyknowledge.com endorses or accepts any responsibility for the content, or the use, of such web site.<br />
</p>
<p>&nbsp;</p>
<h3>3. Indemnification.</h3>
<p style="margin-top:5px;">You agree to indemnify, defend and hold harmless Aatman Innovations Pvt. Ltd, its officers, directors, employees, agents, licensors, suppliers and any third party information providers to the Service from and against all losses, expenses, damages and costs, including reasonable attorneys&#8217; fees, resulting from any violation of this Agreement (including negligent or wrongful conduct) by you or any other person accessing the Service.</p>
<p>&nbsp;</p>
<h3>4. Third Party Rights.</h3>
<p style="margin-top:5px;">The provisions of paragraphs 2 (Use of the Service), and 3 (Indemnification) are for the benefit of Aatman Innovations Pvt. Ltd and its officers, directors, employees, agents, licensors, suppliers, and any third party information providers to the Service. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.</p>
<p>&nbsp;</p>
<h3>5. Term; Termination.</h3>
<p style="margin-top:5px;">This Agreement may be terminated by either party without notice at any time for any reason. The provisions of paragraphs 1 (Copyright, Licenses and Idea Submissions), 2 (Use of the Service), 3 (Indemnification), 4 (Third Party Rights) and 6 (Miscellaneous) shall survive any termination of this Agreement.</p>
<p>&nbsp;</p>
<h3>6. Miscellaneous.</h3>
<p style="margin-top:5px;">This Agreement shall all be governed and construed in accordance with the laws of India applicable to agreements made and to be performed in India. You agree that any legal action or proceeding between Aatman Innovations Pvt. Ltd and you for any purpose concerning this Agreement or the parties&#8217; obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in India . Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. Aatman Innovations Pvt. Ltd failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. Aatman Innovations Pvt. Ltd may assign its rights and duties under this Agreement to any party at any time without notice to you.</p>
<p>Any rights not expressly granted herein are reserved.</p>
                        </div>
		</div>
	</div>
	<div style="clear:both;"></div>
	</div>

